.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/html/*
!/html/index.html
!/html/index.php

/nginx/log/*
/nginx/conf/*
!/nginx/conf/default.conf

/mysql/conf/*
/mysql/data/*

/redis/data/*
/redis/logs/*

# Local History for Visual Studio Code
.history/
