.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/www/*
!/www/index.html
!/www/index.php

/nginx/log/*
/nginx/conf/*
!/nginx/conf/default.conf
!/nginx/conf/demo.conf

/mysql/conf/*
/mysql/data/*

/redis/data/*
/redis/logs/*

.env
docker-compose.yml

# Local History for Visual Studio Code
.history/
